body {
    font-family: 'calibri';
    margin: 0;
    background-image: url("./img/background.jpg");
    background-size: cover;
    height:100vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-main{
    position: relative;
}
tr {
    width: 408px;
    height: 136px;
}

td {
    height: 136px;
    width: 136px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

td:hover {

    background-color: rgba(0, 0, 0, 0.1);
}

table {
    margin-top: 96px;
    border-collapse: collapse;
}

table td {
    border: 5px solid black;
}

table tr:first-child td {
    border-top: 0;
}

table tr td:first-child {
    border-left: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:last-child {
    border-right: 0;
}

.cross {
    height: 115px;
    width: 115px;
}

.circle {
    height: 85px;
    width: 85px;
}

.d-none {
    display: none !important;
}

header {
    height: 128px;
}

.header {
    margin-top: 48px;
    display: flex;
    align-items: center;
}

.h1-left {
    margin-right: 32px;
}

.h1-right {
    margin-left: 32px;
}

.circle-top {
    height: 60px;
    width: 60px;
}

.cross-top {

    height: 80px;
    width: 80px;
}

.circle-bottom {
    height: 32px;
    width: 32px;
}

.cross-bottom {
    height: 40px;
    width: 40px;
}

.circle-button {
    height: 18px;
    width: 18px;
    margin-left: 4px;
    margin-right: 4px;
}

.cross-button {
    height: 20px;
    width: 20px;
    margin-left: 4px;
    margin-right: 4px;
}

.buttons {
    margin-top: 32px;
    ;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.button {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 8px;
    border-radius: 8px;
    border-color: rgb(236, 236, 236);
    border-style: solid;
    cursor: pointer;
}

.buttons :hover {
    background-color: rgb(236, 236, 236);
}

.evaluation-sub {
    display: flex;
    align-items: center;
}

.evaluation {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    gap: 72px;
}

.horizontal-line {
    transform: scaleX(0.0);
    transition: 225ms ease-in-out;
    border-radius: 7px;
    height: 14px;
    width: 360px;
    background-color: rgba(0, 255, 0, 0.5);
}

.ho-top {
    position: absolute;
    left: auto;
    right: auto;
    top: calc(136px / 2 - 7px);
    margin-left: 32px;
}

.ho-mid {
    position: absolute;
    left: auto;
    right: auto;
    top: calc(136px + 136px / 2 + 2px);
    margin-left: 32px;
}

.ho-bot {
    position: absolute;
    left: auto;
    right: auto;
    top: calc(136px *2 + 136px / 2 + 7px);
    margin-left: 32px;
}

.vertical-line {
    transform: scaleY(0.0);
    transition: 225ms ease-in-out;
    border-radius: 7px;
    height: 360px;
    width: 14px;
    background-color: rgba(0, 255, 0, 0.5);
}

.ve-left {
    position: absolute;
    left: auto;
    right: auto;
    top: 32px;
    margin-left: calc(136px / 2 - 7px);
}

.ve-mid {
    position: absolute;
    left: auto;
    right: auto;
    top: 32px;
    margin-left: calc(136px + 136px / 2 + 2px);
}

.ve-right {
    position: absolute;
    left: auto;
    right: auto;
    top: 32px;
    margin-left:calc(136px *2 + 136px / 2 + 9px);
}

.diagonal-line {

    border-radius: 7px;
    height: 14px;
    width: 509px;
    background-color: rgba(0, 255, 0, 0.5);
}

.dia-fall {
    position: absolute;
    transition: 225ms ease-in-out;
    transform: rotate(45deg) scaleX(0.0);
    top: calc(136px + 136px / 2 );
    margin-left: calc(-136px / 2 + 27px);
}

.dia-rise {
    position: absolute;
    transition: 225ms ease-in-out;
    transform: rotate(-45deg) scaleX(0.0);
    top: calc(136px + 136px / 2 );
    margin-left: calc(-136px / 2 + 27px);
}


@media(max-width:430px) {

    tr {
        width: 309px;
        height: 103px;
    }
    
    td {
        height: 103px;
        width: 103px;
    }

    table {
        margin-top: 54px;
    }

    .cross {
        height: 85px;
        width: 85px;
    }
    
    .circle {
        height: 65px;
        width: 65px;
    }

    .buttons {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:10px;
    }
    .button {
        width: 188px;
    }

    .horizontal-line {
        width: 300px;
    }
    
    .ho-top {
        top: calc(103px / 2 - 7px);
        margin-left: 14px;
    }
    
    .ho-mid {
        top: calc(103px + 103px / 2);
        margin-left: 14x;
    }
    
    .ho-bot {
        top: calc(103px * 2 + 103px / 2 + 6px);
        margin-left: 14px;
    }
    
    .vertical-line {
        height: 300px;
    }
    
    .ve-left {
        top: 9px;
        margin-left: calc(103px / 2 - 5px);
    }
    
    .ve-mid {
        top: 9px;
        margin-left: calc(103px + 103px / 2);
    }
    
    .ve-right {
        top: 9px;
        margin-left:calc(103px * 2 + 103px / 2 + 8px);
    }
    
    .diagonal-line {
        width: 424px;
    }
    
    .dia-fall {
        top:calc(103px  + 103px / 2 );
        margin-left: -48px;
    }
    
    .dia-rise {
        top:calc(103px  + 103px / 2 );
        margin-left: -51px;
    }
}

@media(max-height:780px){

    .header {
        margin-top: 12px;
    }

    table {
        margin-top: -18px;
    }
}


@media (max-width:340px){

    .header {
        margin-top: 12px;
    }

    table {
        margin-top: -18px;
    }

    .evaluation {
        gap: 12px;
    }
    
    tr {
        width: 249px;
        height: 83px;
    }
    
    td {
        height: 83px;
        width: 83px;
    }

    .cross {
        height: 52px;
        width: 52px;
    }
    
    .circle {
        height: 40px;
        width: 40px;
    }

    .horizontal-line {
        width: 220px;
    }
    
    .ho-top {
        top: calc(83px / 2 - 7px);
        margin-left: 21px;
    }
    
    .ho-mid {
        top: calc( 83px + 83px / 2);
        margin-left: 21px;
    }
    
    .ho-bot {
        top: calc( 83px * 2 + 83px / 2 + 6px);
        margin-left: 21px;
    }
    
    .vertical-line {
        height: 220px;
    }
    
    .ve-left {
        top: 21px;
        margin-left:calc(83px / 2 - 6px);
    }
    
    .ve-mid {
        top: 21px;
        margin-left: calc( 83px + 83px / 2 + 1px);
    }
    
    .ve-right {
        top: 21px;
        margin-left:calc( 83px * 2 + 83px / 2 + 8px);
    }
    
    .diagonal-line {
        width: 311px;
    }
    
    .dia-fall {

        top: calc(83px + 83px / 2 - 2px);
        margin-left: -24px;
    }
    
    .dia-rise {
        top: calc(83px + 83px / 2 - 1px);
        margin-left: -24px;
    }
    .circle-bottom {
        height: 28px;
        width: 28px;
    }
    
    .cross-bottom {
        height: 36px;
        width: 36px;
    }
    .evaluation-sub {
font-size: 0.8rem;
    }
}